/*RESET E ESTILOS BASE*/
/*'0' é um seletor universal que aplica estilos a TODOS os elementos da pagina*/
*{
    margin: 0;/*remove as margens padrão que os navegadores adicionam*/
    padding: 0;/*remove os espaçamentos internos padrão*/
    box-sizing: border-box;/*faz com que o pading e border sejam incluidos na largurae altura total do elemento*/
}
body{
    /*fontes: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    (Segoe UI é a primeira opção, se não tiver, vai tentando as próximas)*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6; /*altura entre linhas 1.6x o tamanho da fonte*/
    color: rgb(17, 4, 90);/*cor do texto azul*/
    /*gradiente de fundo: 135deg e a direçao de azul claro para escuro*/
    background: linear-gradient(135deg, #b1faff 0%,#ffb18e 100%
    );
    padding: 1rem 5%; /*1rem = 16px tamanho padrao da fonte, 5% da largura do container*/
    display: flex; /* ativa o flexbox para layaut flexivel*/
;align-items: center;/* alinha os itens verticalmente no centro*/

}